body{background-color:#f4f4f4
   
}
h1{font-family:"Arial";
text-align:center;}
.color-grid{text-align: center;
 font-family:"Arial";
font-weight: bold;}
.color-box{width:80px;
height:80px;
display:inline-block;
margin:25px;
border-radius:10px;

}
.color1{background-color:#ff0000
}
.color2{background-color:#00ff00}
.color3{background-color:#0000ff;}
.color4{background-color:#00FFFF}
.color5{background-color:#FFA500;}
.color6{background-color:#800080;}